.main-1 {
  position: relative;
}
.navbar-menu {
  height: 100px;
  width: 100%;
  background-color: rgb(78, 189, 78);
}
.container-img {
  position: absolute;
  left: 3px;
  height: 92px;
  width: 20%;
  background-color: white;
  border-radius: 10px;
  margin: 4px 4px;
}
.container-img > img {
  height: 55px;
  position: absolute;
  left: 10%;
  margin: 10px;
}
.container-img > h3 {
  position: absolute;
  display: block;
  font-size: 22px;
  right: 20%;
  width: 105px;
  bottom: 17px;
}